.input-title-event, .group-choice-title {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    height: 25px;
    width: 350px;
    background-color: #33cccc;
    font-family: verdana;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

input[type="text"], textarea, select{
    border: none;
}

.input-line-event, .input-text-event, .group-choice {
    border: inset;
    border: 1px solid #33cccc;
}

.input-line-event {
    margin-left: 20px;
    width: 836px;
}

.input-text-event {
    margin-left: 20px;
    width: 831px;

}

.input-text-title {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    height: 25px;
    width: 310px;
    background-color: #33cccc;
    font-family: verdana;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.group-choice-title {
    width: 280px;
}

.group-choice, .input-buttons-event {
    margin-left: 20px;
    margin-bottom: 20px;
}

.group-choice {
     width: 95px;
}

.button-addevent {
    line-height: 20px;
    top: 5px;
    width: 100px;
    height: 25px;
    background-color: #006666;
    border: none;
    color: #FFFFFF;
    font-family: verdana;
    font-size: 13px;
    font-weight: bold;
}

.button-addevent:hover{
    background-color: #ff7400;
    cursor: pointer;
}

.input-buttons-event {
    margin-top: 30px;
}
 .input-buttons-event a:hover, .input-buttons-event a {
    text-decoration: none;
 }





