.input-title-event, .group-choice-title {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    height: 25px;
    width: 350px;
    background-color: #006363;
    font-family: verdana;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.input-line-event {
    margin-left: 20px;
    border: inset;
    border-color: #33cccc;
    width: 835px;

}

.input-text-event {
    margin-left: 20px;
    border: inset;
    border-color: #33cccc;
    width: 831px;

}

.input-text-title {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    height: 25px;
    width: 310px;
    background-color: #006363;
    font-family: verdana;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.group-choice-title {
    width: 280px;
}

.group-choice, .input-buttons-event {
    margin-left: 20px;
    margin-bottom: 20px;
}

.group-choice {
    border: inset;
    border-color: #33cccc;
    width: 97px;
}

.button-addevent {
    line-height: 20px;
    top: 5px;
    width: 100px;
    height: 25px;
    background-color: #006666;
    border: none;
    color: #FFFFFF;
    font-family: verdana;
    font-size: 13px;
    font-weight: bold;
}

.button-addevent:hover{
    background-color: #ff7400;
    cursor: pointer;
}






