.input-title-event, .group-choice-title, .date-choice-title {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    height: 25px;
    width: 350px;
    background-color: #33cccc;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.date-choice-title {
    width: 216px;
}

input[type="text"], textarea, select {
    border: none;
    resize: none;
    font-family: verdana, arial, sans-serif;
    font-size: 14px;

}

.input-line-event, .date-choice{
    border: inset;
    border: 1px solid #33cccc;
}

.input-line-event {
    margin-left: 20px;
    width: 836px;
}

.input-text-event {
    margin-left: 20px;
    width: 838px;
 
}

.input-text-title {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    height: 25px;
    width: 310px;
    background-color: #33cccc;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.group-choice-title {
    width: 280px;
    position: relative;
}

.input-buttons-event, .date-choice {
    margin-left: 20px;
    margin-bottom: 20px;
}

.button-addevent {
    line-height: 20px;
    top: 5px;
    width: 100px;
    height: 25px;
    background-color: #006666;
    border: none;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

.button-addevent:hover {
    background-color: #ff7400;
    cursor: pointer;
}

.input-buttons-event {
    margin-top: 50px;
}

.input-buttons-event a:hover, .input-buttons-event a {
    text-decoration: none;
}

input[type="submit"] {
    line-height: 20px;
    top: 5px;
    width: 100px;
    height: 25px;
    background-color: #006666;
    border: none;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #ff7400;
    cursor: pointer;
}

.date-choice {
    width: 214px;
    text-align: left;
    position: relative;
}

.dateblock {
    position: relative;
    margin-top: 20px;
}

.groupblock {
    position: relative;
}

.group-choice-time {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    height: 25px;
    width: 310px;
    background-color: #33cccc;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.time-choice {
    width: 110px;
    position: absolute;
    margin-left: 20px;
}

.time-choice .hour {
    width: 50px;
}

.time-choice .minute {
    width: 50px;
    float: left;
}

/*TEST*/
.group-choice {
    position: relative;
    margin-left: 20px;
}

.selectBox {
    border: 1px solid #33cccc;
    display: inline-block;
    position: relative;
    width: 278px;
    height: 20px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.selectBox:hover {
    color: #000000;
    text-decoration: none;
}

.selectBox-label {
    padding: 0 0px 0 5px;
    font-size: 14px;
}

.selectBox-arrow {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    background: url(/css/images/strelka.png);
}

/*.selectBox-arrow:hover{*/
/*background: url(/css/images/strelka-hover.png);*/
/*}*/

.selectBox-dropdown-menu {
    position: absolute;
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    background: #fff;
    margin: 0;
    padding: 0;
    border: 1px solid #33cccc;
}

.selectBox-dropdown-menu li {
    display: block;
}

.selectBox-dropdown-menu li a {
    display: block;
    padding: 0 2px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.selectBox-dropdown-menu li a:hover {
    color: #fff;
    text-decoration: none;
    background: #e17009;
}







