.contentauth {
    position: relative;
    height: 550px;
    color: #006666;
    font-family: verdana;
}

.authorization {
    height: 20px;
    width: 200px;
    float: left;
    position: absolute;
    right: 60px;
    top: 40px;
    font-family: verdana, arial, sans-serif;
    display: inline-block;
    text-align: right;
    font-size: 11px;
    color: #efefef;
}

.left-content, .right-content {
    position: relative;
    float: left;
    width: 450px;
}

.left-content {
    margin-top: 20px;
    margin-left: 40px;
    height: 250px;
    border: 1px solid #33cccc;
}

.right-content {
    margin-left: 40px;
    border: 1px solid #33cccc;
    margin-top: 20px;
    height: 500px;
    position: relative;
}

.left-title, .right-title {
    position: relative;
    margin-top: 20px;
    text-align: center;
    font-family: verdana;
    font-size: 24px;
}

.left-text, .right-text {
    position: relative;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.input, .input-right {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}

.input {
    margin-top: 15px;
    left: -110px;
}

.input-right {
    margin-top: -15px;
    right: 120px;
}

.submitb {
    left: 175px;
    width: 100px;
}

button.submit-r {
    top: -15px;
    width: 170px;
    right: 20px;
}

button.submit-r:hover {
    background-color: #ff7400;
}

.submitb, button.submit-r {
    margin-top: 20px;
    height: 25px;
    background-color: #006666;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    font-family: arial, verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.submitb:hover {
    background-color: #ff7400;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    border: 1px solid #33cccc;
}

.right-text-bottom {
    font-size: 14px;
    text-align: center;
}
