.calendarlayout {

}

.calendargrid {
    border-bottom-width: 0px;
    border-collapse: collapse;
    border-color: #FFFFFF;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    bottom: 0px;
    height: 199px;
    left: 0px;
    padding: 0px;
    position: absolute;
    width: 211px;
}

.calendar-header {
    /*background-image: -moz-linear-gradient(90deg, rgb(76, 186, 255) 0%, rgb(76, 186, 255) 0%, rgb(49, 154, 213) 0%, rgb(64, 113, 183) 100%);*/
    /*background-image: -webkit-linear-gradient(90deg, rgb(76, 186, 255) 0%, rgb(76, 186, 255) 0%, rgb(49, 154, 213) 0%, rgb(64, 113, 183) 100%);*/
    background-color: #009999;
    border: 1px #bbb solid;
    color: rgb(255, 255, 255);
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    left: 0px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 209px;
}

.calendarlayout {
    border: solid 3px rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    height: 239px;
    left: 635px;
    position: absolute;
    top: 115px;
    width: 344px;
    z-index: 4;
}

.calendarlayout .nocur {
    background-color: rgb(255, 255, 255);
    background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    border-color: rgb(187, 187, 187);
    border-style: solid;
    border-width: 1px;
}

.calendarlayout td {
    background-image: -moz-linear-gradient(90deg, rgb(224, 224, 224) 0%, rgb(249, 249, 249) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(224, 224, 224) 0%, rgb(249, 249, 249) 100%);
    border: 1px solid #bbbbbb;
    color: rgb(61, 61, 61);
    font-family: "Arial";
    font-size: 12px;
    height: 28px;
    padding: 0;
    text-align: center;
    text-shadow: 0.5px 0.866px 0px rgb(255, 255, 255);
    width: 29px;
}

.calendarlayout th {
    background-color: white;
    color: rgb(73, 73, 73);
    font-family: "Arial";
    font-size: 10px;
    height: 18px;
    text-align: center;
}

.calendarlayout tr {
    border: 1px solid #bbbbbb;
}

.calendar-selecteddate {
    background: url(/img/mypart.png);
    background-repeat: repeat-y;
    border: 0px;
    bottom: 0px;
    box-shadow: -1px 0px 0px 0px rgb(187, 187, 187);
    height: 199px;
    position: absolute;
    right: 0px;
    width: 133px;
}

.calendar-selecteddate .line {
    background-image: url(/img/calendar-line.png);
    height: 2px;
    left: 10px;
    position: absolute;
    top: 85px;
    width: 120px;
}

.calendar-selecteddate H1 {
    background: url(/img/mypart.png);
    color: #006666;
    font-family: "Arial";
    font-size: 30px;
    font-weight: bold;
    position: relative;
    text-align: center;
    text-shadow: 0.5px 0.866px 0px rgb(255, 255, 255);
}

.calendar-selecteddate H2 {
    background: url(/img/mypart.png);
    color: #009999;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-align: center;
    text-shadow: 0.5px 0.866px 0px rgb(255, 255, 255);
}

.calendar-selecteddate H3 {
    color: #33cccc;
    font-family: "Arial";
    font-size: 10px;
    line-height: 2;
    padding-top: 13px;
    text-align: center;
    text-shadow: 0.5px 0.866px 0px rgb(255, 255, 255);
}

.calendar-selecteddate ul {
    padding-left: 25px;
    padding-top: 15px;
    position: relative;
    right: 0;
    top: 0;
}

.calendar-selecteddate ul li {
    background: transparent;
    color: #009999;
    display: list-item;
    font-family: "Arial";
    font-size: 12px;
    font-weight: bold;
    height: 12px;
    line-height: 1.667;
    list-style-image: url(/img/list-point.png);
    padding-top: 8px;
    text-align: left;
    text-shadow: 0.5px 0.866px 0px rgb(255, 255, 255);
}

.calendar-welcome {
    border-bottom-width: 1px;
    border-color: #b9b9b9;
    border-left-width: 0px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    font-family: "Arial";
    font-size: 12px;
    font-weight: bold;
    height: 38px;
    line-height: 40px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-shadow: 0px -1px 0px rgb(119, 119, 119);
    top: 0px;
    width: 133px;
    background-color: #009999;
}

.back-arrow {
    background-image: url(/img/arrow-calleft.png);
    position: absolute;
    left: 15px;
    top: 13px;
    width: 15px;
    height: 15px;
}

.forw-arrow {
    background-image: url(/img/arrow-calright.png);
    position: absolute;
    left: 180px;
    top: 13px;
    width: 15px;
    height: 15px;
}

.back-arrow:hover, .forw-arrow {
    cursor: pointer;
}
