
.contentcontent {
    background-color: #FFFFFF;
    -moz-user-select: text;
    -khtml-user-select: text;
    user-select: text;
}

.userspace {
    background-color: #FFFFFF;
    min-height: 200px;
}

.userspace-content {
    min-height: 150px;
    background-color: #FFFFFF;
}

.content {
    background-color: #FFFFFF;
}

.usrsp-title {
    color: #006363;
}

