.header {
    width: 1020px;
    height: 366px;
    background-color: #33cccc;
    /*background-image: url(/img/header.png);*/
    position: relative;
    /*box-shadow: 0 0 1px 0 rgb(0, 0, 0);*/
}

.logo {
    height: 100px;
    width: 400px;
    float: left;
    position: absolute;
    left: 110px;
    top: 50px;
    font-family: verdana, arial, sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 60px;
    color: #006666;
}

.logotxt {
    height: 110px;
    width: 350px;
    float: left;
    position: absolute;
    left: 150px;
    top: 180px;
    font-family: verdana, arial, sans-serif;
    display: inline-block;
    text-align: right;
    font-size: 24px;
    color: #efefef;
}

.buttonbar-content {
    list-style: none;
    position: relative;
    top: 20px;
    padding-left: 550px;
    width:470px;

}

.buttonbar-content li{
    margin: -2px;
    height: 25px;
    width: 100px;
    position: relative;
    background-repeat: repeat-x;
    cursor: pointer;
    list-style: none;
    padding-top: 8px;
    font-family: verdana, arial, sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    background-color:#009999;
}

.buttonbar-content li:hover{
    background-color: #66cccc;
}

.buttonbar-content a:link, .buttonbar-content a:visited, .buttonbar-content a:active {
    color: #efefef;
    text-decoration: none;
}


.authorization {
    height: 20px;
    width: 200px;
    float: left;
    position: absolute;
    right: 60px;
    top: 53px;
    font-family: verdana, arial, sans-serif;
    display: inline-block;
    text-align: right;
    font-size: 11px;
    color: #006666;
}
