.message {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    width: 440px;
    height: 275px;
    position: relative;
    border: 1px solid #33cccc;
}

.messagetxt {
    padding-top: 80px;
    font-size: 20px;
    position: relative;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #006363;
}

.messagebutton {
    list-style: none;
    position: relative;
    margin-top: 20px;
    margin-right: 40px;
}

.messagebutton li {
    height: 50px;
    width: 200px;
    position: relative;
    background-repeat: no-repeat;
    cursor: pointer;
    list-style: none;
    text-align: center;
    background-color: #006363;
    font-size: 18px;
    line-height: 45px;
}

.messagebutton li:hover {
    background-color: #ff7400;
}

.messagebutton a:link, .messagebutton a:visited, .messagebutton a:hover, .messagebutton a:active {
    color: #efefef;
    text-decoration: none;
}
