* {
    margin: 0 auto;
}

body {
    background-color: rgba(102, 204, 204, 0.15);

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.container, .content, .userbar, .footer, .contentcontent {
    width: 1020px;
}

.container {
    position: relative;

}

.content {
    background-color: #FFFFFF;
}



