* {
    margin: 0 auto;
}

body {
    background-color: rgba(102, 204, 204, 0.15);
}

.container, .content, .userbar, .footer, .contentcontent {
    width: 1020px;
}

.container {
    position: relative;

}

.content {
    background-color:#FFFFFF;
}



