.userbar {
    top: 1px;
    height: 50px;
    position: relative;
    background-color: #66cccc;
}

.eventbuttons {
    height: 50px;
    width: inherit;
    font-size: 14px;
    font-weight: bold;
}

.mainbutton {
    padding: 0;
    margin: 0;
    bottom: 0;
    position: relative;
}

.mainbutton li {
    float: left;
    width: 200px;
    height: 50px;
    cursor: pointer;
    list-style: none;
    display: block;
    text-align: center;

    background-color: #006666;
    margin-right: 1px;
    position: relative;
    line-height: 45px;
}

.mainbutton li:hover {
    background-color: #009999;
}

.mainbutton a:link, .mainbutton a:visited, .mainbutton a:active {
    color: #efefef;
    text-decoration: none;
}

.usergroup {
    position: relative;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 455px !important;
    top: -33px;
    height: 33px;
    width: 505px;
    overflow: hidden;
}

.usergroup li, .checked {
    float: left;
    width: 100px;
    height: 34px;
    cursor: pointer;
    list-style: none;
    display: block;
    text-align: center;
    font-size: 12px;
    background-color: #009999;
    margin-right: 1px;
    position: relative;
    line-height: 30px;
    font-weight: bold;
    color: #FFFFFF;
}

.checked {
    background-color: #ff7400 !important;
}

.usergroup li:hover {
    background-color: #ff7400;
}

.usergroup li:active {
    background-color: #ff7400;
}

.usergroup a:link, .usergroup a:visited {
    color: #efefef;
    text-decoration: none;
}

.leftarrow {
    background-image: url(/img/arrow-left.png);
    position: absolute;
    width: 25px;
    height: 25px;
    left: 425px;
    top: 20px;
}

.rightarrow {
    background-image: url(/img/arrow-right.png);
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    left: 965px;
}

.leftarrow:hover, .rightarrow:hover {
    cursor: pointer;
}


