.userbar {
    top: 1px;
    height: 50px;
    position: relative;
    background-color: #66cccc;
}
#popup_addgroup {
    position: absolute;
}

.eventbuttons {
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: 310px;
    width: 402px;

}

.mainbutton {
    padding: 0;
    margin: 0;
    bottom: 0;
    position: relative;
}

.mainbutton li {
    float: left;
    width: 200px;
    height: 50px;
    cursor: pointer;
    list-style: none;
    display: block;
    text-align: center;
    color: #efefef;
    background-color: #006666;
    margin-right: 1px;
    position: relative;
    line-height: 45px;
}

.mainbutton li:hover {
    background-color: #009999;
}

.mainbutton a:link, .mainbutton a:visited, .mainbutton a:active {
    color: #efefef;
    text-decoration: none;
}

.usergroup {
    position: relative;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 21px !important;
    top: -33px;
    height: 33px;
    width: 505px;
    overflow: hidden;
}

.usergroup li, .checked {
    float: left;
    width: 100px;
    height: 34px;
    cursor: pointer;
    list-style: none;
    display: block;
    text-align: center;
    font-size: 12px;
    background-color: #009999;
    margin-right: 1px;
    position: relative;
    line-height: 30px;
    font-weight: bold;
    color: #006363;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.checked {
    background-color: #ffffff !important;

}

.usergroup li:hover {
    background-color: #ff7400;
}

.usergroup li:active {
    background-color: #ff7400;

}

.usergroup a:link, .usergroup a:visited {
    color: #efefef;
    text-decoration: none;
}

.leftarrow {
    background-image: url(/img/arrow-left.png);
    position: absolute;
    width: 20px;
    height: 33px;

    top: 17px;
}

.rightarrow {
    background-image: url(/img/arrow-right.png);
    position: absolute;
    width: 20px;
    height: 33px;
    top: 17px;
    left: 526px;
}

.leftarrow:hover {
    cursor: pointer;
    background-image: url(/img/arrow-left-hover.png);
}

.rightarrow:hover {
    cursor: pointer;
    background-image: url(/img/arrow-right-hover.png);
}

/*
Стили для всплывающих окон
*/

#fade {
    display: none;
    background: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .60; /* Полупрозрачность элемента */
    z-index: 1;
    position: absolute;
    overflow: visible;
}

.popup_add_block {
    display: none;
    background-color: #ffffff;
    border: 1px solid #006363;
    float: left;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 470px;
}

.popup_event_block {
    display: none;
    background-color: #ffffff;
    border: 1px solid #006363;
    float: left;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 600px;
    height: 600px;
}


/* Контактная форма */
.addlabel {
    color: #006363;
    text-align: left;
    height: 25px;
    width: 400px;
    position: relative;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 0;
    font-weight: bold;
}

.input-title {
    position: relative;
    padding-left: 20px;
}

#name {
    width: 445px;
}

.submit-but {
    height: 25px;
    margin-bottom: 20px;
}

.submit-buttons {
    position: relative;
    padding-top: 15px;
    left: -19px;
}

.submit-but li {
    width: 100px;
    height: 25px;
    cursor: pointer;
    list-style: none;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    background-color: #006363;
    position: relative;
    line-height: 25px;
    font-weight: bold;

}

.submit-but li:hover {
    background-color: #ff7400;
}

.submit-but a:link, .submit-but a:visited, .submit-but a:active {
    color: #efefef;
    text-decoration: none;
}

input[type="submit"] {
    line-height: 20px;
    top: 5px;
    width: 100px;
    height: 25px;
    background-color: #006666;
    border: none;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #ff7400;
    cursor: pointer;
}

/*
***********************ADD_EVENT***************************************
*/

.input-title-event, .input-text-title, .group-choice-title, .date-choice-title, .group-choice-time {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #006363;
    font-size: 14px;
    font-weight: bold;
}

#lineevent_input, #addevent_textarea {
    font-family: verdana, arial, sans-serif;
    font-size: 14px;
    width: 563px;
    border: 1px solid #33cccc;
    resize: none;
    margin-left: 20px;

}

.group-choice {
    position: relative;
    margin-left: 20px;
}

#date {
    width: 200px;
    margin-left: 20px;
}

.selectBox {
    border: 1px solid #33cccc;
    display: inline-block;
    position: relative;
    width: 278px;
    height: 20px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.selectBox:hover {
    color: #000000;
    text-decoration: none;
}

.selectBox-label {
    padding: 0 0px 0 5px;
    font-size: 14px;
}

.selectBox-arrow {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    background: url(/css/images/strelka.png);
}

.selectBox-dropdown-menu {
    position: absolute;
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    background: #fff;
    margin: 0;
    padding: 0;
    border: 1px solid #33cccc;
}

.selectBox-dropdown-menu li {
    display: block;
}

.selectBox-dropdown-menu li a {
    display: block;
    padding: 0 2px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.selectBox-dropdown-menu li a:hover {
    color: #fff;
    text-decoration: none;
    background: #e17009;
}

.time-choice {
    margin-left: 20px;
}

.time-choice .hour {
    width: 50px;
}

.time-choice .minute {
    width: 50px;
    float: left;
}

.button-addevent {
    line-height: 20px;
    top: 5px;
    width: 100px;
    height: 25px;
    background-color: #006666;
    border: none;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

.button-addevent:hover {
    background-color: #ff7400;
    cursor: pointer;
}

.input-buttons-event a:hover, .input-buttons-event a {
    text-decoration: none;
}

.input-buttons-event {
    padding-top: 20px;
    margin-left: 20px;
}

.popup_header {
    position: relative;
    height: 35px;
    background-color: #006363;
    margin: 0;
}

.popup_header_title {
    margin-left: 20px;
    position: relative;
    top: 6px;
    color: #ffffff;
    font-family: verdana, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#close_window {
    position: relative;
    float: right;
    z-index: 1;
    height: 30px;
    width: 30px;
    top: -17px;
    left: 2px;
}

#close_window a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

#close_window a:hover {
    color: #e17009;
}

.popup_group_header {
    position: relative;
    height: 35px;
    background-color: #006363;
    margin: 0;
}

.popupg_header_title {
    margin-left: 20px;
    position: relative;
    top: 6px;
    color: #ffffff;
    font-family: verdana, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#close_window_g {
    position: relative;
    float: right;
    z-index: 1;
    height: 30px;
    width: 30px;
    top: -17px;
    left: 2px;
}

#close_window_g a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

#close_window_g a:hover {
    color: #e17009;
}