.userbar {
    top: 1px;
    background-color: #66cccc;
    height: 50px;
    position: relative;
}

.eventbuttons {
    height: 50px;
    width: inherit;
}

.userbuttonadd {
    /*top: 2px;*/
    padding: 0;
    margin: 0;
    bottom: 0px;
    position: relative;
}

.userbuttonadd li {
    float: left;
    width: 200px;
    height: 50px;
    cursor: pointer;
    list-style: none;
    display: block;
    text-align: center;
    font-size: 13px;
    background-color: #006666;
    margin-right: 1px;
    position: relative;
    line-height: 45px;
    font-weight: bold;
}

.userbuttonadd li:hover {
    background-color: #009999;
}

.userbuttonadd a:link, .userbuttonadd a:visited, .userbuttonadd a:active {
    color: #efefef;
    text-decoration: none;
}

.usergroup {
    position: relative;
    top: 0px;
    padding: 0;
    margin: 0;
    bottom: 0px;
    left: 455px !important;
    top: -34px;
    height: 33px;
    width: 505px;
    overflow: hidden;
}

.usergroup li, .checked {
    float: left;
    width: 100px;
    height: 34px;
    cursor: pointer;
    list-style: none;
    display: block;
    text-align: center;
    font-size: 13px;
    background-color: #009999;
    margin-right: 1px;
    position: relative;
    line-height: 30px;
    font-weight: bold;
}

.checked {
    background-color: #ff7400 !important;
}

.usergroup li:hover {
    /*background-color: #33cccc;*/
    background-color: #ff7400;
}

.usergroup li:active {
    background-color: #ff7400;
}

.usergroup a:link, .usergroup a:visited {
    color: #efefef;
    text-decoration: none;
}

.leftarrow {
    background-image: url(/img/arrow-left.png);
    position: absolute;
    width: 25px;
    height: 25px;
    left: 430px;
    top: 22px;

}

.rightarrow {
    background-image: url(/img/arrow-right.png);
    position: absolute;
    width: 25px;
    height: 25px;
    top: 22px;
    left: 960px;
}

.leftarrow:hover, .rightarrow:hover {
    cursor: pointer;
}


