* {
	margin: 0 auto;
}
body {
	background-color: #efefef;
}
.container, .header, .content, .userbar, .footer, .contentcontent {
	width: 1020px;
}
.container {
	position:relative;
}
.header {
	height: 304px;
	background-image: url(img/header.png);
	/*border:1px solid #FFFFFF;*/
	position: relative;
	box-shadow: 0 0 1px 0 rgb( 0, 0, 0 );
}
.content {
	position: relative;
}
/*HEADER*/
.logo {
	height: 100px;
	width: 400px;
	float: left;
	position: absolute;
	left: 110px;
	top: 50px;
	/*border:1px solid black;*/
	font-family: verdana, arial, sans-serif;
	/*font-weight: bold;*/
	display: inline-block;
	text-align: center;
	font-size: 60px;
	color: #efefef;
}
.logotxt {
	height: 110px;
	width: 350px;
	float: left;
	position: absolute;
	left: 150px;
	top: 180px;
	font-family: verdana, arial, sans-serif;
	/*font-weight: bold;*/
	display: inline-block;
	text-align: right;
	font-size: 24px;
	color: #efefef;
}
.header ul {
	position: absolute;
	top: 20px;
	right: 20px;
}
.header li {
	margin: -2px;
	height: 25px;
	width: 100px;
	position: relative;
	background-repeat: repeat-x;
	cursor: pointer;
	list-style: none;
	padding-top: 8px;
	font-family: verdana, arial, sans-serif;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	background-image: url(img/menubg.png);
}
.header li a:link, .header li a:visited, .header li a:hover, .header li a:active {
	color: #efefef;
	text-decoration: none;
}
.authorization {
	height: 20px;
	width: 200px;
	float: left;
	position: absolute;
	right: 60px;
	top: 53px;
	font-family: verdana, arial, sans-serif;
	/*font-weight: bold;*/
	display: inline-block;
	text-align: right;
	font-size: 11px;
	color: #efefef;
}
.userbar {
	background-color: #e8e8e8;
	background-repeat: repeat-y;
	border-radius: 0px 0px 15px 15px;
	box-shadow: 0 0 1px 0 rgb( 0, 0, 0 );
	height: 136px;
	position: relative;
}
.userinfo {
	padding-top: 10px;
	position: relative;
	float: left;
	height: 80px;
	width: 250px;
}
.useravatar {
	position: relative;
	float: left;
	padding-top: 3px;
	height: 70px;
	width: 70px;
	margin-left: 10px;
}
.username, .userphone, .usersite {
	position: relative;
	/*border: 1px solid red;*/
	height: 20px;
	width: 150px;
	margin-right: 10px;
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
}
.username {
	font-weight: bold;
	color: #2b2b2b;
	margin-top: 7px;
}
.userphone {
	font-size: 12px;
	color: #4cbaff;
}
.usersite {
	font-size: 12px;
	color: #90bb45;
}
.userstatistic {
	width: 250px;
	height: 80px;
	position: relative;
	float: left;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #2b2b2b;
	padding-left: 10px;
	padding-top: 20px;
}
.userbarseparator {
	background-image: url(img/userbarseparator.png);
	width: 4px;
	height: 50px;
	position: relative;
	float: left;
	margin-top: 10px;
	background-repeat: no-repeat;
	top: 10px;
}
.buttonmenu {
	list-style: none;
	position: absolute;
	left: 0px;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
	height: 50px;
}
.userbuttonadd {
	list-style: none;
	position: absolute;
	left: -41px;
	bottom: 0px;
	margin: 0px;
	padding:0px;
	
}
.userbuttonadd li {
	height: 34px;
	width: 220px;
	position: relative;
	background-image: url(img/buttons/button.png);
	background-repeat: no-repeat;
	cursor: pointer;
	list-style: none;
	padding-top: 10px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	margin-top:6px;
	margin-left: 9px;
	color: #efefef;
	font-family: arial, verdana, sans-serif;
	font-weight: bold;
	color: #efefef;
	font-size:16px;
	
}

.userbuttonadd li:hover {
	background-image: url(img/buttons/button-hover.png);
}

.userbuttonadd a:link, .userbuttonadd a:visited, .userbuttonadd a:hover, .userbuttonadd a:active {
	color: #efefef;
	text-decoration: none;
}
/*MENU*/

.menu {
	top: 140px;
	width: 231px;
	position: absolute;
	min-height: 70px;
	background-image: url(img/menu-center.png);
	background-repeat: repeat-y;
	border-radius: 15px;
	box-shadow: 0 0 1px 0 rgb( 0, 0, 0 );
	z-index: 999;
}
.menu-content {
	top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-top: 10px;
}
.usrmenulvl2 {
	padding-left: 19px;
	padding-top: 10px;
}
.usrmenulvl2 li {
	background-color: #f4f4f4;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .2);
}
.usrmenulvl1item, .usrmenulvl1item:hover {
	min-height: 34px;
	width: 199px;
	position: relative;
	background-image: url(img/buttons/button.png);
	background-repeat: no-repeat;
	cursor: pointer;
	list-style: none;
	padding-top: 8px;
	padding-left: 15px;
	margin-left: -32px;
	font-family: arial, verdana, sans-serif;
	font-weight: bold;
	color: #efefef;
}
.usrmenulvl1item:hover {
	background-image: url(img/buttons/button-hover.png);
}
.usrmenulvl1item-active {
	min-height: 34px;
	width: 199px;
	position: relative;
	background-repeat: no-repeat;
	cursor: pointer;
	list-style: none;
	padding-top: 8px;
	padding-left: 15px;
	margin-left: -32px;
	font-family: arial, verdana, sans-serif;
	font-weight: bold;
	color: #efefef;
	background-image: url(img/buttons/button-active.png);
}
.usrmenulvl2item, .usrmenulvl2item:hover {
	height: 36px;
	width: 197px;
	position: relative;
	background-image: url(img/buttons/cascademenu.png);
	background-repeat: no-repeat;
	cursor: pointer;
	list-style: none;
	padding-top: 8px;
	padding-left: 15px;
	margin-left: -32px;
	font-family: arial, verdana, sans-serif;
	font-weight: bold;
	color: #2b2b2b;
}
.usrmenulvl2item:hover {
	background-image: url(img/buttons/cascademenu.png);
}
.usrmenulvl2item a:link, .usrmenulvl2item a:visited, .usrmenulvl2item a:hover, .usrmenulvl2item a:active {
	color: #efefef;
	text-decoration: none;
}
/*USERSPACE*/
.userspace {
	border-radius: 10px;
	background-color: rgb( 232, 232, 232 );
	box-shadow: 0 0 1px 0 rgb( 0, 0, 0 );
	position: relative;
	top: 0px;
	left: 120px;
	width: 757px;
	height: auto;
}
.usrsp-content {
	background-color: rgb( 244, 244, 244 );
	position: relative;
	width: 746px;
	height: 348px;
	left: 6px;
	top: 5px;
	border-radius: 10px;
	margin-top: 10px;
}
.usrsp-title {
	font-size: 36px;
	font-family: "Verdana";
	color: rgb( 0, 0, 0 );
	font-weight: bold;
	line-height: 0.556;
	position: inherit;
	padding: 15px;
}
.usrsp-comment {
	font-size: 12px;
	font-family: "Verdana";
	color: rgb( 252, 83, 83 );
	font-weight: bold;
	line-height: 1.667;
	position: absolute;
	padding-left: 15px;
}
.usrsp-text {
	width: 500px;
	padding-left: 15px;
	font-size: 12px;
	font-family: "Verdana";
	color: rgb( 0, 0, 0 );
	line-height: 1.667;
	-moz-transform: matrix( 1, 0, 0, 0.97134067228033, 0, 0);
	-webkit-transform: matrix( 1, 0, 0, 0.97134067228033, 0, 0);
	-ms-transform: matrix( 1, 0, 0, 0.97134067228033, 0, 0);
	position: absolute;
	top: 100px;
}
.usrsp-text p {
	padding-top: 10px;
}
.usrsp-picblock {
	border-radius: 10px;
	position: absolute;
	width: 225px;
	height: 330px;
	background-image: url(img/menu-center.png);
	right: 5px;
	top: 15px;
}
.usrsp-pic img {
	background-repeat: none;
	width: 213;
	height: 318;
	padding-left: 7px;
	padding-top: 6px;
	border-radius: 10px;
}
.contentcontent {
	height: auto;
}
.footer {
	background-image: url("img/footer.jpg");
	position: absolute;
	height: 283px;
	box-shadow: 0 0 1px 0 rgb( 0, 0, 0 );
}
.footer ul {
	position: absolute;
	margin-left: 25%;
	padding-top: 25%;
}
.footer li {
	margin: -2px;
	height: 25px;
	width: 100px;
	position: relative;
	background-repeat: repeat-x;
	cursor: pointer;
	list-style: none;
	padding-top: 8px;
	font-family: verdana, arial, sans-serif;
	display: inline-block;
	text-align: center;
	font-size: 10px;
}
.footer li a:link, .footer li a:visited, .footer li a:hover, .footer li a:active {
	color: #efefef;
	text-decoration: none;
}
