* {
	margin: 0 auto;
}
body {
	background-color:#efefef;
}

.container, .header , .content, .userbar{
	width:1020px;
}

.header {
	height:304px;
	background-image:url(img/header.png);
	border:1px solid #FFFFFF;
	position:relative;
}


.content {
	min-height:1000px;
	position:relative;
}


/*HEADER*/
.logo {
	height:100px;
	width:400px;
	float:left;
	position:absolute;
	left:110px;
	top:50px;
	/*border:1px solid black;*/
	font-family:  verdana, arial, sans-serif;
	/*font-weight: bold;*/
	display: inline-block;
	text-align:center;
	font-size:60px;
	color:#efefef;
}
.logotxt {
	height:110px;
	width:350px;
	float:left;
	position:absolute;
	left:150px;
	top:180px;

	font-family:  verdana, arial, sans-serif;
	/*font-weight: bold;*/
	display: inline-block;
	text-align:right;
	font-size:24px;
	color:#efefef;
}

.header ul {
	position:absolute;
	top:20px;
	right:20px;
	
	/*border: 1px solid red;*/

}

.header li {
	margin:-2px;
	height:25px;
	width:100px;
	position:relative;
	background-repeat:repeat-x;
	cursor:pointer;
	list-style: none;
	padding-top:8px;
	font-family:  verdana, arial,sans-serif;
	/*font-weight: bold;*/
	display: inline-block;
	text-align:center;
	font-size:13px;
	/*border: 1px solid red;*/
	background-image:url(img/menubg.png);	
}

.header li a:link,
.header li a:visited,
.header li a:hover ,
.header li a:active {
	color:#efefef;
	text-decoration:none;
}
.authorization {
	height:20px;
	width:200px;
	float:left;
	position:absolute;
	right:60px;
	top:53px;
	font-family:  verdana, arial, sans-serif;
	/*font-weight: bold;*/
	display: inline-block;
	text-align:right;
	font-size:11px;
	color:#efefef;
}


/*CALENDAR*/

.calendarlayout {
	border-style: solid;
	border-width: 3px;
	border-color: rgb( 255, 255, 255 );
	background-image: -moz-linear-gradient( 90deg, rgb( 229, 229, 229 ) 0%, rgb( 255, 255, 255 ) 39.404%);
	background-image: -webkit-linear-gradient( 90deg, rgb( 229, 229, 229 ) 0%, rgb( 255, 255, 255 ) 39.404%);
	box-shadow: 2px 3.464px 0px 0px rgb( 10, 70, 104 );
	position: absolute;
	left: 635px;
	top: 115px;
	width: 338px;
	height: 234px;
	z-index: 2;
}

.calendar-header {

	width: 212px;
	height: 40px;
	float: left;
	position: relative;
	border: 1px solid #bbbbbb;
    background-image: -moz-linear-gradient( 90deg, rgb( 76, 186, 255 ) 0%, rgb( 76, 186, 255 ) 0%, rgb( 49, 154, 213 ) 0%, rgb( 64, 113, 183 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 76, 186, 255 ) 0%, rgb( 76, 186, 255 ) 0%, rgb( 49, 154, 213 ) 0%, rgb( 64, 113, 183 ) 100%);

  	font-size: 16px;
    font-family: "Arial";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-align: center;
    /*text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );*/
    line-height: 40px;
}

.calendar-welcome {
	
	width: 122px;
	height: 40px;
	position: relative;
	float: left;
	border: 1px solid #b9b9b9;
    background-image: -moz-linear-gradient( 90deg, rgb( 211, 211, 211 ) 0%, rgb( 174, 174, 174 ) 0%, rgb( 49, 154, 213 ) 0%, rgb( 65, 112, 183 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 211, 211, 211 ) 0%, rgb( 174, 174, 174 ) 0%, rgb( 49, 154, 213 ) 0%, rgb( 65, 112, 183 ) 100%);
    font-size: 12px;
    font-family: "Arial";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    text-shadow: 0px -1px 0px rgb( 119, 119, 119 );


}
  

.calendargrid {
	width:214px;
	height: 193px;
	padding: 0px;	
	float: left;
	position: relative;
	border-collapse:collapse;
}
.calendar-selecteddate {
	width:124px;
	border:0px;
	position: relative;
	float: left;
	height: 150px;

	background-color: rgb( 242, 242, 242 );
    box-shadow: -1px 0px 0px 0px rgb( 187, 187, 187 );
}

.calendarlayout td {
	width:29px;
	height:26px;
    font-size: 12px;
    font-family: "Arial";
    color: rgb( 61, 61, 61 );
    text-align: center;
    text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );
    border: 1px solid #bbbbbb;
    padding:0;
    background-image: -moz-linear-gradient( 90deg, rgb( 224, 224, 224 ) 0%, rgb( 249, 249, 249 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 224, 224, 224 ) 0%, rgb( 249, 249, 249 ) 100%);
  


}
.calendarlayout th {
	height: 18px;  
	font-size: 10px;
    font-family: "Arial";
    color: rgb( 73, 73, 73 );
    text-align: center;
}

.calendarlayout tr {
	 border: 1px solid #bbbbbb;

}






/*USERBAR*/
.userbar {
	position:relative;
	background-image:url(img/userbar.png);
	background-repeat:repeat-x;
}
.userbar-content, .userbar-left, .userbar-right {
	position:absolute;
}
.userbar, .userbar-content, .userbar-left, .userbar-right{
	height:80px;
}

.userbar-left {
	width:10px;
	left:0;
	background-image:url(img/userbar-left.png);
	background-repeat:no-repeat;

}
.userbar-right {
	width:10px;
	right:0;
	background-image:url(img/userbar-right.png);
	background-repeat:no-repeat;
}
.userbar-content {
	width:1000px;	
	left:10px;
	padding-top:0px;
	margin-left:-25px;
	padding-left:40px;
	padding-top:2px;
}
.userinfo {
	position:relative;
	float:left;


	height:80px;
	width:250px;
}

.useravatar {
	position:relative;
	float:left;
	padding-top:3px;

	height:70px;
	width:70px;

}
.username, .userphone, .usersite  {
	position:relative;
	/*border: 1px solid red;*/
	height:20px;
	width:150px;
	margin-right:10px;
	font-family: verdana, arial, sans-serif;
	font-size:14px;
}
.username {
	font-weight: bold;
	color:#2b2b2b;
	margin-top:7px;
}
.userphone {
	font-size:12px;
	color:#4cbaff;
}
.usersite {
	font-size:12px;
	color:#90bb45;
	
}

.userstatistic {
	width:250px;
	height:80px;
	position:relative;
	float:left;
	font-family: verdana, arial, sans-serif;
	font-size:12px;
	color:#2b2b2b;
	padding-left:10px;
	padding-top:10px;

}
.userbarseparator {
	background-image:url(img/userbarseparator.png);
	width:4px;
	height:50px;
	position:relative;
	float:left;
	margin-top:10px;
	background-repeat:no-repeat;

	
}




/*BUTTONBAR*/
.buttonbar {
	position:relative;
	background-image:url(img/button-bar.png);
	background-repeat:repeat-x;
}
.buttonbar-content, .buttonbar-left, .buttonbar-right {
	position:absolute;
}
.buttonbar, .buttonbar-content, .buttonbar-left, .buttonbar-right{
	height:53px;
}
.buttonbar-content {
	width:1000px;	
	left:10px;
	padding-top:5px;
	margin-left:-25px;
}
.buttonbar-left {
	width:10px;
	left:0;
	background-image:url(img/button-bar-left.png);
	background-repeat:no-repeat;

}
.buttonbar-right {
	width:10px;
	right:0;
	background-image:url(img/button-bar-right.png);
	background-repeat:no-repeat;
}

.buttonbar li, .buttonbar li:hover {
	height:34px;
	width:125px;
	position:relative;
	background-image:url(img/buttons/upbutton.png);
	background-repeat:no-repeat;
	cursor:pointer;
	list-style: none;
	padding-top:8px;
	font-family: arial, verdana, sans-serif;
	font-weight: bold;
	display: inline-block;
	text-align:center;
	font-size:14px;
}

.buttonbar li:hover {
	background-image:url(img/buttons/upbutton-hover.png);
}

.buttonbar li a:link,
.buttonbar li a:visited,
.buttonbar li a:hover ,
.buttonbar li a:active {
	color:#efefef;
	text-decoration:none;
}




/*MENU*/
.menu , .menu-top, .menu-bottom{
	width:231px;
	position:absolute;
}
.menu {
	min-height:70px;
	left:1px;
	background-image:url(img/menu-center.png);
	background-repeat:repeat-y;
}
.menu-top {
	height:10px;
	top:0px;
	background-image:url(img/menu-top.png);
	background-repeat:no-repeat;
}
.menu-bottom {
	height:10px;
	bottom:0px;
	background-image:url(img/menu-bottom.png);
	background-repeat:no-repeat;
}
.menu-content {
	top:10px;
	padding-bottom:10px;
	padding-left:0px;
	padding-top:10px;
	
}

.usrmenulvl1 {
}
.usrmenulvl2 {
	padding-left: 19px;
	padding-top: 10px;
}


.usrmenulvl1item, 
.usrmenulvl1item:hover {
	min-height:34px;
	width:199px;
	position:relative;
	background-image:url(img/buttons/button.png);
	background-repeat:no-repeat;
	cursor:pointer;
	list-style: none;
	padding-top:8px;

	padding-left:15px;
	margin-left:-32px;
	font-family: arial, verdana, sans-serif;
	font-weight: bold;
	color:#efefef;
	

}
.usrmenulvl1item:hover {
	background-image:url(img/buttons/button-hover.png);
}

.usrmenulvl1item-active {
	min-height:34px;
	width:199px;
	position:relative;
	background-repeat:no-repeat;
	cursor:pointer;
	list-style: none;
	padding-top:8px;
	padding-left:15px;
	margin-left:-32px;
	font-family: arial, verdana, sans-serif;
	font-weight: bold;
	color:#efefef;

	background-image:url(img/buttons/button-active.png);

}

.usrmenulvl2item, 
.usrmenulvl2item:hover {
	height:36px;
	width:197px;
	position:relative;
	background-image:url(img/buttons/cascademenu.png);
	background-repeat:no-repeat;
	cursor:pointer;
	list-style: none;
	padding-top:8px;
	padding-left:15px;
	margin-left:-32px;
	font-family: arial, verdana, sans-serif;
	font-weight: bold;
	color:#2b2b2b;

}
.usrmenulvl2item:hover {
	background-image:url(img/buttons/cascademenu.png);
}

.usrmenulvl2item a:link,
.usrmenulvl2item a:visited ,
.usrmenulvl2item a:hover,
.usrmenulvl2item a:active {
	color:#efefef;
	text-decoration:none;
} 




/*USERSPACE*/
.userspace , .userspace-top, .userspace-bottom{
	width:756px;
	position:absolute;
}

.userspace, .menu {
	top:160px;

} 
.userspace {
	left:260px;
	background-image:url(img/userspace-center.png);
	background-repeat:repeat-y;
}
.userspace-top {
	height:10px;
	top:0px;
	background-image:url(img/userspace-top.png);
	background-repeat:no-repeat;
	position:absolute;
}
.userspace-bottom {
	height:10px;
	bottom:0px;
	background-image:url(img/userspace-bottom.png);
	background-repeat:no-repeat;
}
.userspace-content {
	width:756px;
	position:relative;
	padding-bottom:10px;
}